$color-header: #202020;

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  &__tag {
    height: 80px;
    background-color: $color-header;
  }

  &__img {
    margin-right: 140px;
    padding-top: 24px;
    padding-left: 315px;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 80px;
  }

  &__item:last-child {
    margin-right: 193px;
  }

  &__search {
    padding-top: 28px;
  }
}

